*{
    
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: white;
}

a{
    text-decoration: none;  
}
header{
    color: #F6E8EA;
    position: relative;
    background-color: #F6E8EA;
    padding-top: 5px;
}
h1{
    color: #EDF2F4;
    background-image: linear-gradient(to bottom, #3185FC, #04369b,#3185FC);
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 10px;
    margin:auto;
    text-align: center;
    line-height: 50px;
}

input{
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 30px;
    background-color: #FDFFFC;   
    color: #1D3461;
    padding-left: 10px;
    
}
nav{
    padding: 5px;
}
ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
li{
    color: #1D3461;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    list-style: none;
}
#m1{
    grid-column-start: 1;
    grid-column-end: 1;
}
#m2{
    grid-column-start: 2;
    grid-column-end: 2;
}
#m3{
    grid-column-start: 3;
    grid-column-end: 3;
}
#m4{
    grid-column-start: 4;
    grid-column-end: 4;
}
section{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;

}



article{
    margin: 1px;
    height: 200px; 
    position: relative;
    background-color: #C14953;
    display: inline-block;
    overflow: hidden;
}
.imagem{
    height: 70%;
    object-fit: cover;
    border-radius: 3px;
    margin: auto;
    position: absolute;
    left: 50%;  
    transform: translate(-50%, 0%);
    
    
}

h2{
    color: #F6E8EA;
    position: absolute; 
    width: 100%;
    top: 75%;
    text-align: center;
    font-size: 10px;
}
.autor{
    
    font-size: 7px;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #F6E8EA;
    margin: 5px;

}


aside{
    
    width: 250px;
    text-align: center;
    margin: 5px;
    float:right; 
    
}
h3{
    color:#d7d4d4 ;
    font-size: 30px;
    padding: 10px;
}
footer{
    bottom: 0;
    text-align: center;
    background-color: #1D3461;
    color: #F6E8EA;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0%;
}

p{
}

#prodape{
    margin: 0%;
    text-decoration: none;
    font-size: 0.8em;
}


