*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #EDF2F4;    
}
footer{
    bottom: 0;
    text-align: center;
    background-color: #1B1B1E;
    color: #EDF2F4;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0%;
}

#prodape{
    margin: 0%;
    text-decoration: none;
    font-size: 0.8em;
}
a{
    text-decoration: none;  
}

header{
    color: #EDF2F4;
    position: relative;
    height: 10vh;
}

h1{
    color: #EDF2F4;
    background-color: #3185FC;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    top: 50%;
    left:  20px;
    transform: translate(0%, -50%);
    font-size: 3vw;
}

form{
    border: none;
}
input{
    border-radius: 50px;
    border: none;
    width: 200px;
    height: 30px;
    background-color: #FDFFFC;   
    color: #000000;
    padding-left: 10px;
    
}


nav{
    margin: auto;
    padding: 0;
    position: relative;
    width:90%;
    top: 50%;
    transform: translate(0%, -50%);
}
li{
    display: inline-block;
    width: 19%;
    text-align: center;
    color: #1D3461;
    margin: 0px, 50px;
    line-height: 4vh;
    
}
section{
    overflow: hidden;
    background-color: #ffffff;
}



article{
    margin: 5px 0px 0px 5px;
    padding: 0;
    width: 32%;
    height: 400px; 
    position: relative;
    background-color: #A4252C;
    display: inline-block;
    overflow: hidden;
}
.imagem{
    height: 70%;
    object-fit: cover;
    border-radius: 3px;
    margin: auto;
    position: absolute;
    left: 50%;  
    transform: translate(-50%, 0%);
    
    
}

h2{
    color: #F1DB4B;
    position: absolute; 
    width: 100%;
    top: 75%;
    text-align: center;
    font-size: 15px;
}
.autor{
    
    font-size: 0.7em;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #36827F;
    margin-right: 30px;

}


aside{
    
    width: 250px;
    background-color: #A4252C;
    text-align: center;
    margin: 0px 5px;
    float:right; 
    
}
h3{
    color:#d7d4d4 ;
    font-size: 30px;
    padding: 10px;
}