*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: #EDF2F4;
}
footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #1B1B1E;
    color: #EDF2F4;
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 0%;
}

#prodape{
    margin: 0%;
    text-decoration: none;
    font-size: 0.8em;
}
a{
    text-decoration: none;  
}
hr.hrbody{
    width: 50%;
    position: relative;
    left: 30px;
    border: none;
    height: 1px;
    background-color: rgb(203, 203, 203);
}

header{
    color: #EDF2F4;
    background-color:#1B1B1E;
    padding: 10px;
    border-radius: 8px;
    margin: 5px;
    position: relative;
    height: 8vh;

}

h1{
    color: #EDF2F4;
    position: absolute;
    top: 50%;
    left:  20px;
    transform: translate(0%, -50%);
    font-size: 3vw;
}

form{
    border: none;
    position: absolute;
    top: 50%;
    right:  20px;
    transform: translate(0%, -50%);

}
input{
    border-radius: 50px;
    border: none;
    width: 30vw;
    height: 30px;
    background-color: #FDFFFC;   
    color: #000000;
    padding-left: 10px;
    
}


nav{
    margin: 0px;
    padding: 0;
    background-color: #1B1B1E;
    position: relative;
    height: 4vh;
}
li{
    display: inline-block;
    width: 24%;
    text-align: center;
    color: #EDF2F4;
    margin: 0px, 50px;
    line-height: 4vh;
    
}
section{
    overflow: auto;
    height: 100vh;
    background-color: #3185FC;
}



article{
    margin: 5px 0px 0px 5px;
    padding: 0;
    width: 300px;
    height: 400px; 
    position: relative;
    background-color: #A4252C;
    display: inline-block;
}
.imagem{
    height: 70%;
    object-fit: cover;
    border-radius: 3px;
    margin: auto;
    position: absolute;
    left: 50%;  
    transform: translate(-50%, 0%);
    
    
}
section{
    overflow: auto;
}
h2{
    color: #F1DB4B;
    position: absolute; 
    width: 100%;
    top: 75%;
    text-align: center;
    font-size: 15px;
}
.autor{
    
    font-size: 0.7em;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #36827F;
    margin-right: 30px;

}


aside{
    
    width: 250px;
    text-align: center;
    margin: 0px 5px;
    float:right; 
}
h3{
    color:#d7d4d4 ;
    font-size: 30px;
    padding: 10px;
}