*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #1D3461;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #F6E8EA;
}
header{
    background-color: white;
    display: grid;
    list-style: none;
    padding: 5px;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr 1fr ;
       
}

#logo{
    height: 50px;
    
}
form{
    line-height: 50px; 
}
input{
    width: 230px;
    height: 35px;
    border-radius: 3px;
    border: none;
    background-color: #EEF3F8;
    padding-left: 50px;
}
#icon{
    width: 20px;
    position: absolute;
    
}

li{
    font-size: 12px;
    color: #1D3461;
    text-align: center;
}

svg{
    position: relative;
    height: 30px;
    width: 30px;
    left: 50%;
    transform: translate( -50% );
    fill: #77a6e9;
}

#svg1, #li1{
    color: #53daa4f1;
    fill: #53daa4f1;
}

a:hover li{
    color: #26C485;

}
a:hover svg{
    fill: #26C485;
}
a.menu{
    display: inline-block;
    list-style: none;
}

#patrocinado{
    margin-top: 10px;
    margin-right: 50px;
    border-radius: 5px;
    position: fixed;
    right: 0;
    width: 150px;
    height: 85vh;
    object-fit: cover;
}

h4{
    position: fixed;
    color: #26C485;
    margin-top: 10px;
    margin-right: 50px;
    right: 0;
    width: 150px;
    text-align: center;
    font-weight: normal;
}
article:hover h2 {
    color: #c4747a;   
}

section{
    margin-top: 10px;
    margin-left: 50px;
    width: 80%;
}

aside:hover h4{
    color: #F6E8EA;
    font-weight: 500;
}
article{
    display: inline-block;
    border-radius: 3px;
    width: 320px;
    height: 300px;
    box-shadow: 1px 1px 5px gray;
    margin-right: 10px;
    margin-bottom: 10px;    
}


.photoparty{
    position: relative;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}
footer{
    position: absolute;
    bottom: 1;
    width: 100%;
    background-color: black;
    text-align: center;
}
h2{
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 100%;
    color: #77a6e9;
}

.refresh{
    display: inline-block;
    font-size: 0.5em;
    width: 98%;
    text-align: end;

}

@media (max-width:792px){

    li{
        font-size: 50%;
    }
    input{
        width: 100%;
        padding-left: 5px;
    }
}

@media (max-width:915px) and (min-width:501px){

    aside{
        display: none;
    }

    section{
        width: 99%;
        margin: 05px;
    
    }

    article{
        width: 45%;
    }
}

@media (max-width:501px){

    aside{
        display: none;
    }

    section{
        width: 99%;
        margin: 05px;
    
    }
    li{
        display: none ;
    }

    svg{
        height: 30px;
        top: 50%;
        position: relative;
        transform: translate(0, -50%);
    }

    article{
        width: 90%;
        margin-top: 5px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    header{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
    }
}
@media (max-width:1257px) and (min-width:1000px){
    article{
        width: 30%;
    }

}

#s4:hover{
    
    fill: #26C485;
}

#m4:hover > #s4 {
    color: #26C485;
    fill: #26C485;
}

